html,
body {
  height: 100%;
  margin: 0;
}

#App {
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100%;

  #search-bar {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;

    .geocoder-container{
      margin: 2.5vh;
      width: 60% !important;

      input{
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }

  #dashboard{
    flex: 1 1 auto;

    #default{
      // display: flex;
    }
    #daily{
      display: none;
    }
  }
}
