#App {
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100vh;

  #search-bar {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;

    .geocoder-container{
      margin: 2.5vh;
      width: 50vw !important;

      input{
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }

  #dashboard{
    flex: 1 1 auto;
    display: grid;
    grid-template-rows: 2.5fr 1fr;
    justify-items: center;

    #daily{
      width: 50vw !important;

      #default{
        display: flex;
        justify-content: center;
        align-items: center;
      height: 100%;

        img{
          width: 30%;
        }
        p{
          display: flex;
          width: 50%;
          font-size: 1.5rem;
        }
      }
    }

    #weekly{
      width: 100vw;
    }
  }
}
